fieldset {
	padding-left: .7em;
	padding-right: .7em;
	padding-bottom: .2em;
	padding-top: .9em;
	margin-top:0;
 	border: 1px solid;
	font-weight: bold; 
	width:20em;;
}

legend {
 	margin-bottom:.2em;
 	margin-top:.2em;
	font-weight: bold; 
	padding-left: 1em; 
	padding-right: 1em; 
	font-size: 1.8em; 
	background: #fff;
}

#dl_top {	
	margin-left:auto;
	margin-right:auto;
	padding:0;
	font-size: 1em;
	position:absolute;
	top:40px;
	left: 70px;
	width:35em;
}

#dl_top p {
	font-weight: bold;
}

#dl_global legend { 
	border: 1px solid #C00; 
}
#dl_global fieldset {
 	background:#FFdddd;
 	border-color: #C00;
}

#dl_clan legend { 
	border: 1px solid #0C0; 
}
#dl_clan fieldset {
 	background:#ddFFdd;
 	border-color: #0C0;
}

#dl_family legend { 
	border: 1px solid #00C; 
	padding-top: 1px; 
}
#dl_family fieldset {
 	background:#ffffcc;
 	border-color: #00c;
}

fieldset p {
	margin-top: 0; 
	margin-bottom: 0
}

th {
	text-align:right;
	font-weight: bold; 
}