h1
{
	text-align:left; 
	font-size:x-large;
	font-family:Arial, sans-serif; 
	margin-top:0; 
	margin-bottom:0;
	margin-left:0;
}

h2
{
	text-align:left; 
	font-size:large;
	list-style-type:square; 
	font-family:Arial, sans-serif; 
	margin-top:1em; 
	margin-bottom:0;
	margin-left:30px; 
}

h3
{
	text-align:left; 
	font-size:medium;
	list-style-type:disc; 
	font-family:Arial, sans-serif; 
	margin-top:6px; 
	margin-bottom:0; 
	margin-left:60px;
}

h4
{
	text-align:left; 
	font-size:small;
	list-style-type:circle; 
	font-family:Arial, sans-serif; 
	margin-top:0; 
	margin-bottom:0; 
	margin-left:90px;
}